<!DOCTYPE html>
<html>
    <head>
        <title>ShiftShark</title>
        <link rel='shortcut icon' href='/images/favicon.ico'>
        <link rel='stylesheet' href='stylesheets/semantic.min.css' />
        <link rel='stylesheet' type='text/css' href='lib/jquery.fancybox.css?v=2.1.5' media='screen' />
        <link rel='stylesheet' href='stylesheets/style.css' />
        <link rel='stylesheet' href='stylesheets/main.css' />
        <script src='/lib/jquery-2.1.1.min.js'></script>
        <script type='text/javascript' src='lib/jquery.fancybox.pack.js?v=2.1.5'></script>
        <script src='/lib/semantic.min.js'></script>
        <script src='/client/client_avails.js'></script>
        <script src='/client/client_basic.js'></script>
        <script src='/client/client_positions.js'></script>
        <script src='/client/client_shifts.js'></script>
        <script src='/client/client_users.js'></script>
        <script src='/js/validationUtil.js'></script>
        <script src='/js/util.js'></script>
        <script src='/js/admin.js'></script>
        <script src='/js/admin/employeeSettings.js'></script>
        <script src='/js/admin/modify.js'></script>
        <script src='/js/admin/createShift.js'></script>
        <script src='/js/admin/modifyEdit.js'></script>
        <script src='/js/admin/modifyTrade.js'></script>
        <script src='/js/admin/modifyTradeOwn.js'></script>
        <script src='/js/admin/modifyDelete.js'></script>
        <script src='/js/admin/assignOffered.js'></script>
        <script src='/js/admin/claimShift.js'></script>
        <link rel='stylesheet' href='/stylesheets/schedule.css' />
        <script src='/js/scheduleUI.js'></script>

    </head>

    <body>
        <div id='curUser' userId='<%= req.user._id %>'
        <%= include util/navbar.ejs %>
        <div class='ui adminOptions menu'>

            <div class='right item'>
                <div class='item wrap'>
                    <a href='#employeeSettings' class='ui inverted black fancybox button'>
                        + Employee
                    </a>
                </div>
                <div class='item wrap'>
                    <a href='#createShift' class='ui inverted black fancybox button'>
                        Create Shift
                    </a>
                </div>
                <div id='roleButton' class='item wrap'>
                    <div class='ui inverted black button'>
                        + Position
                    </div>
                </div>
                <div class='hidden item wrap'>
                    <a href='#modifyShift' class='ui inverted black fancybox button'>
                        Modfiy Shift
                    </a>
                </div>
                <div class='hidden item wrap'>
                    <a href='#assignOffered' class='ui inverted black fancybox button'>
                        Assign Offered
                    </a>
                </div>
            </div>
        </div>
        <%= include schedule.ejs %>
        <div class="fleft">
            <%= include legend.ejs %>
        </div>
        <div id='profileSettings' class='modalContent'>
            <%= include modals/profileSettings.ejs %>
        </div>
        <div id='employeeSettings' class='modalContent'>
            <%= include modals/admin/employeeSettings.ejs %>
        </div>
        <div id='createShift' class='modalContent'>
            <%= include modals/admin/createShift.ejs %>
        </div>
        <div id='modifyShift' class='modalContent'>
            <%= include modals/admin/modifyShift.ejs %>
        </div>
        <div id='assignOffered' class='modalContent'>
            <%= include modals/admin/claimShift.ejs %>
        </div>
    </body>
</html>
