<!DOCTYPE html>
<html>
    <head>
        <title>ShiftShark</title>
        <link rel='shortcut icon' href='/images/favicon.ico'>
        <!-- JQuery -->
        <script src='/lib/jquery-2.1.1.min.js'></script>
        <!-- Date / Time Picker -->
        <script src='/lib/jquery.datetimepicker.js'></script>
        <link rel="stylesheet" href="/lib/jquery.datetimepicker.css">
        <!-- Moment -->
        <script src="/lib/moment.js"></script>
        <!-- FancyBox -->
        <link rel='stylesheet' type='text/css' href='lib/jquery.fancybox.css?v=2.1.5' media='screen' />
        <script type='text/javascript' src='lib/jquery.fancybox.pack.js?v=2.1.5'></script>
        <!-- Semantic -->
        <link rel='stylesheet' href='stylesheets/semantic.min.css' />
        <script src='/lib/semantic.min.js'></script>
        <!-- Ajax Helpers -->
        <script src='/client/client_basic.js'></script>
        <script src='/client/client_positions.js'></script>
        <script src='/client/client_shifts.js'></script>
        <script src='/client/client_users.js'></script>
        <!-- Overall CSS -->
        <link rel='stylesheet' href='stylesheets/style.css' />
        <!-- Main Page CSS -->
        <link rel='stylesheet' href='stylesheets/main.css' />
        <!-- Timetable CSS -->
        <link rel="stylesheet" href="/stylesheets/tables.css">
        <!-- Timetable JS -->
        <script src="/js/tables/timetable.js"></script>
        <script src="/js/tables/calendar.js"></script>
        <!-- Util files -->
        <script src='/js/util.js'></script>
        <script src='/js/validationUtil.js'></script>
        <script src="/lib/seedrandom.js"></script>
        <!-- Main JS files -->
        <script src='/js/admin/createSchedule.js'></script>
        <script src='/js/admin.js'></script>
        <script src='/js/admin/employeeSettings.js'></script>
        <script src='/js/admin/modify.js'></script>
        <script src='/js/admin/createShift.js'></script>
        <script src='/js/admin/modifyEdit.js'></script>
        <script src='/js/admin/modifyTrade.js'></script>
        <script src='/js/admin/modifyTradeOwn.js'></script>
        <script src='/js/admin/modifyDelete.js'></script>
        <script src='/js/admin/assignOffered.js'></script>
        <script src='/js/admin/adminSettings.js'></script>
        <script src='/js/admin/modifyPos.js'></script>
        <style>
            .block-shift{
                cursor: pointer;
                cursor: hand;
            }
            .block-shift:hover {
                background-color : #5C6166 !important;
                color: white !important;
            }
            .block-empty:hover {
                background-color : #5C6166 !important;
                color: white !important;
            }

            .block-empty {
                cursor: pointer;
                cursor: hand;
            }
        </style>
    </head>

    <body>
        <%= include util/navbar.ejs %>
        <main>
            <div id='curUser' userId='<%= req.user._id %>'></div>
            <div class='ui adminOptions'>
                <div class='fright'>
                    <div class='wrap'>
                        <a href='#adminSettings' class='ui left labeled icon inverted black fancybox tiny button'>
                            <i class="setting icon"></i>
                            Admins
                        </a>
                    </div>
                    <div class='wrap'>
                        <a href='#employeeSettings' class='ui left labeled icon inverted black fancybox tiny button'>
                            <i class="add icon"></i>
                            Employee
                        </a>
                    </div>
                    <div id='roleButton' class='wrap'>
                        <div class='ui left labeled icon inverted black tiny button'>
                            <i class="add icon"></i>
                            Position
                        </div>
                    </div>
                    <a href="/availability?admin=true" class='wrap'>
                        <div class='ui left labeled icon inverted black tiny button'>
                            <i class="time icon"></i>
                            Availability
                        </div>
                    </a>
                </div>
                <div class="wrap dateNavWrapper">
                    <div class="ui icon button left weekNavigation black inverted">
                        <i class="left angle icon"></i>
                    </div>
                    <div id="scheduleDateChooser" class="ui button">
                        <div class="wrap" id="currentDate" date="<%= dateToCheck %>"></div>
                    </div>
                    <div class="ui icon button right weekNavigation black inverted">
                        <i class="right angle icon"></i>
                    </div>
                </div>
            </div>
            <div id="schedule" style="margin-left:1em;">
            </div>
            <div id='profileSettings' class='modalContent'>
                <%= include modals/profileSettings.ejs %>
            </div>
            <div id='employeeSettings' class='modalContent'>
                <%= include modals/admin/employeeSettings.ejs %>
            </div>
            <a class="hidden fancybox" id="createShiftTrigger" href="#createShift"></a>
            <div id='createShift' class='modalContent'>
                <%= include modals/admin/createShift.ejs %>
            </div>
            <a class="hidden fancybox" id="modifyShiftTrigger" href="#modifyShift"></a>
            <div id='modifyShift' class='modalContent'>
                <%= include modals/admin/modifyShift.ejs %>
            </div>
            <a class="hidden fancybox" id="modifyPositionTrigger" href="#modifyPosition"></a>
            <div id='modifyPosition' class='modalContent'>
                <%= include modals/admin/modifyPosition.ejs %>
            </div>
            <div id='adminSettings' class='modalContent'>
                <%= include modals/admin/adminSettings.ejs %>
            </div>
        </main>
    </body>
</html>
