<!DOCTYPE html>
<html>
    <head>
        <title>ShiftShark</title>
        <link rel='shortcut icon' href='/images/favicon.ico'>
        <!-- JQuery -->
        <script src='/lib/jquery-2.1.1.min.js'></script>
        <!-- Date / Time Picker -->
        <script src='/lib/jquery.datetimepicker.js'></script>
        <link rel="stylesheet" href="/lib/jquery.datetimepicker.css">
        <!-- Moment -->
        <script src="/lib/moment.js"></script>
        <!-- FancyBox -->
        <link rel='stylesheet' type='text/css' href='lib/jquery.fancybox.css?v=2.1.5' media='screen' />
        <script type='text/javascript' src='lib/jquery.fancybox.pack.js?v=2.1.5'></script>
        <!-- Semantic -->
        <link rel='stylesheet' href='stylesheets/semantic.min.css' />
        <script src='/lib/semantic.min.js'></script>
        <!-- Ajax Helpers -->
        <script src='/client/client_avails.js'></script>
        <script src='/client/client_basic.js'></script>
        <script src='/client/client_positions.js'></script>
        <script src='/client/client_shifts.js'></script>
        <script src='/client/client_users.js'></script>
        <!-- Overall CSS -->
        <link rel='stylesheet' href='stylesheets/style.css' />
        <!-- Main Page CSS -->
        <link rel='stylesheet' href='stylesheets/main.css' />
        <!-- Timetable CSS -->
        <link rel="stylesheet" href="/stylesheets/tables.css">
        <!-- Timetable JS -->
        <script src="/js/tables/timetable.js"></script>
        <script src="/js/tables/calendar.js"></script>
        <!-- Util files -->
        <script src='/js/util.js'></script>
        <script src='/js/validationUtil.js'></script>
        <script src="/lib/seedrandom.js"></script>
        <!-- Main JS files -->
        <script src='/js/admin/createSchedule.js'></script>
        <script src='/js/admin.js'></script>
        <script src='/js/admin/employeeSettings.js'></script>
        <script src='/js/admin/modify.js'></script>
        <script src='/js/admin/createShift.js'></script>
        <script src='/js/admin/modifyEdit.js'></script>
        <script src='/js/admin/modifyTrade.js'></script>
        <script src='/js/admin/modifyTradeOwn.js'></script>
        <script src='/js/admin/modifyDelete.js'></script>
        <script src='/js/admin/assignOffered.js'></script>
        <script src='/js/admin/claimShift.js'></script>
        <style>
            .block-shift{
                cursor: pointer;
                cursor: hand;
            }
            .block-shift:hover {
                background-color : #5C6166 !important;
                color: white !important; 
            }
            .block-empty:hover {
                background-color : #5C6166 !important;
                color: white !important; 
            }

            .block-empty {
                cursor: pointer;
                cursor: hand;
            }
        </style>
    </head>

    <body>
        <div id='curUser' userId='<%= req.user._id %>' />
        <%= include util/navbar.ejs %>
        <div class='ui adminOptions menu'>
            <div class="left item wrap vcentered dateNavWrapper">
                <i class="left double angle icon weekNavigation"></i>
                <i class="left angle icon dateNavigation"></i>
                <div class="wrap" id="currentDate" date="<%= dateToCheck %>"><%= dateToCheck.toDateString() %></div>
                <i class="right angle icon dateNavigation"></i>
                <i class="right double angle icon weekNavigation"></i>
            </div>
            <div class='right item'>
                <div class='item wrap'>
                    <a href='#employeeSettings' class='ui inverted black fancybox button'>
                        + Employee
                    </a>
                </div>
                <div class='item wrap'>
                    <a href='#createShift' onclick='createShiftInfo()' class='ui inverted black fancybox button'>
                        Create Shift
                    </a>
                </div>
                <div id='roleButton' class='item wrap'>
                    <div class='ui inverted black button'>
                        + Position
                    </div>
                </div>
                <div class='hidden item wrap'>
                    <a href='#modifyShift' class='ui inverted black fancybox button'>
                        Modfiy Shift
                    </a>
                </div>
                <div class='hidden item wrap'>
                    <a href='#assignOffered' class='ui inverted black fancybox button'>
                        Assign Offered
                    </a>
                </div>
            </div>
        </div>
        <div id="schedule" style="margin-left:1em;">
        </div>
        <div id='profileSettings' class='modalContent'>
            <%= include modals/profileSettings.ejs %>
        </div>
        <div id='employeeSettings' class='modalContent'>
            <%= include modals/admin/employeeSettings.ejs %>
        </div>
        <a class="hidden fancybox" id="createShiftTrigger" href="#createShift"></a>
        <div id='createShift' class='modalContent'>
            <%= include modals/admin/createShift.ejs %>
        </div>
        <a class="hidden fancybox" id="modifyShiftTrigger" href="#modifyShift"></a>
        <div id='modifyShift' class='modalContent'>
            <%= include modals/admin/modifyShift.ejs %>
        </div>
        <a class="hidden fancybox" id="assignOfferedTrigger" href="#assignOffered"></a>
        <div id='assignOffered' class='modalContent'>
            <%= include modals/claimShift.ejs %>
        </div>
    </body>
</html>
