<!DOCTYPE html>
<html>
    <head>
        <title>ShiftShark</title>
        <!-- JQuery -->
        <script src='/lib/jquery-2.1.1.min.js'></script>
        <!-- Date / Time Picker -->
        <script src='/lib/jquery.datetimepicker.js'></script>
        <link rel="stylesheet" href="/lib/jquery.datetimepicker.css">
        <!-- Moment -->
        <script src="/lib/moment.js"></script>
        <!-- FancyBox -->
        <link rel='stylesheet' type='text/css' href='lib/jquery.fancybox.css?v=2.1.5' media='screen' />
        <script type='text/javascript' src='lib/jquery.fancybox.pack.js?v=2.1.5'></script>
        <!-- Semantic -->
        <link rel='stylesheet' href='stylesheets/semantic.min.css' />
        <script src='/lib/semantic.min.js'></script>
        <!-- Ajax Helpers -->
        <script src='/client/client_avails.js'></script>
        <script src='/client/client_basic.js'></script>
        <script src='/client/client_positions.js'></script>
        <script src='/client/client_shifts.js'></script>
        <script src='/client/client_users.js'></script>
        <!-- Overall CSS -->
        <link rel='stylesheet' href='stylesheets/style.css' />
        <!-- Main Page CSS -->
        <link rel='stylesheet' href='stylesheets/main.css' />
        <!-- Timetable CSS -->
        <link rel="stylesheet" href="/stylesheets/tables.css">
        <!-- Timetable JS -->
        <script src="/js/tables/timetable.js"></script>
        <script src="/js/tables/calendar.js"></script>
        <!-- Util files -->
        <script src='/js/util.js'></script>
        <script src='/js/validationUtil.js'></script>
        <script src="/lib/seedrandom.js"></script>
        <!-- Main JS files -->
        <script src='/js/employee/createSchedule.js'></script>
        <script src='/js/employee.js'></script>
        <script src='/js/employee/tradeShift.js'></script>
        <script src='/js/employee/claimShift.js'></script>
    </head>
    <body>
        <div id='curUser' userId='<%= req.user._id %>' />
        <%= include util/navbar.ejs %>
        <div class='ui adminOptions menu'>
            <div class="left item wrap dateNavWrapper">
                <i class="left double angle icon weekNavigation"></i>
                <i class="left arrow icon dateNavigation"></i>
                <div class="wrap" id="currentDate" date="<%= dateToCheck %>"><%= dateToCheck.toDateString() %></div>
                <i class="right arrow icon dateNavigation"></i>
                <i class="right double angle icon weekNavigation"></i>
            </div>
        </div>
        <div id="schedule" style="margin-left:1em;">
        </div>
        
        <a class="hidden fancybox" id="claimShiftTrigger" href="#claimShift"></a>
        <div id='claimShift' class='modalContent'>
            <%= include modals/claimShift.ejs %>
        </div>
        <a class="hidden fancybox" id="tradeShiftTrigger" href="#tradeShift"></a>
        <div id='tradeShift' class='modalContent'>
            <%= include modals/tradeShift.ejs %>
        </div>
    </body>
</html>
