<!DOCTYPE html>
<html>
    <head>
        <title>ShiftShark</title>
        <link rel='shortcut icon' href='/images/favicon.ico'>
        <link rel='stylesheet' href='stylesheets/semantic.min.css' />
        <link rel='stylesheet' type='text/css' href='lib/jquery.fancybox.css?v=2.1.5' media='screen' />
        <link rel='stylesheet' href='stylesheets/style.css' />
        <link rel='stylesheet' href='stylesheets/main.css' />
        <script src='/lib/jquery-2.1.1.min.js'></script>
        <script type='text/javascript' src='lib/jquery.fancybox.pack.js?v=2.1.5'></script>
        <script src='/lib/semantic.min.js'></script>
        <script src='/client/client_avails.js'></script>
        <script src='/client/client_basic.js'></script>
        <script src='/client/client_positions.js'></script>
        <script src='/client/client_shifts.js'></script>
        <script src='/client/client_users.js'></script>
        <script src='/js/util.js'></script>
        <script src='/js/employee.js'></script>
        <script src='/js/validationUtil.js'></script>
        <script src='/js/employee/claimShift.js'></script>
        <script src='/js/employee/tradeShift.js'></script>
        <link rel='stylesheet' href='/stylesheets/schedule.css' />
        <script src='/js/scheduleUI.js'></script>
    </head>
    <body>
        <%= include util/navbar.ejs %>
        <div class='ui hidden adminOptions menu'>
            <<div class="left item wrap vcentered dateNavWrapper">
                <i class="left arrow icon dateNavigation"></i>
                <div class="wrap"><%= dateToCheck.toDateString() %></div>
                <i class="right arrow icon dateNavigation"></i>
            </div>
            <div class='right item'>
                <a href='#claimShift' class='ui inverted black fancybox button'>
                    Claim Shift
                </a>
                <a href='#tradeShift' class='ui inverted black fancybox button'>
                    Trade Shift
                </a>
            </div>
        </div>
        <%= include schedule.ejs %>
        <div class="fleft" style="margin-top:10px;">
            <%= include legend.ejs %>
        </div>
        <div id='claimShift' class='modalContent'>
            <%= include modals/employee/claimShift.ejs %>
        </div>
        <div id='tradeShift' class='modalContent'>
            <%= include modals/employee/tradeShift.ejs %>
        </div>
    </body>
</html>
