<%= include helperSchUI %>
<div class="scheduleWrapper">
  <div class="contentRow">
    <div class="day" date="<%= dateToCheck %>"></div>
    <div class="roleWrapper">
      <table class="timeIntervals">
        <tr class="topBar">
          <td class="posHead"> Position Name </td>
          <td class="titleDummy"></td>
          <!-- right now this hardcodes the times from 8am-6pm -->
          <% for(var j=0; j<24; j++){ %>
              <td colspan="4">
                <% if ((j+11)%12 + 1 < 10){ %>
                  <!-- append a 0 in front of any single digit hour; ensure 12 doesn't get counted as 0 -->
                  <%= (j<12 ?  j+"am" : ((j+11)%12 + 1)+"pm") %>
                <% } else{ %>
                  <%= (j<12 ?  ((j+11)%12 + 1)+"am" : ((j+11)%12 + 1)+"pm") %>
                <% } %>
              </td>
          <% } %>
        </tr>
      </table>
      <% for(shift in schedule) {%>
      <% if(new Date(schedule[shift].date).getDate() === new Date(dateToCheck).getDate() && new Date(schedule[shift].date).getMonth() === new Date(dateToCheck).getMonth() && new Date(schedule[shift].date).getFullYear() === new Date(dateToCheck).getFullYear()){ %>
      <div position="<%= schedule[shift].position %>"
      class="role" shift="<%= schedule[shift]._id %>"
      date="<%= dateToCheck %>">
        <div class="cell posName"> <%= getPositionName(schedule[shift], positions) %> </div>
        <div class="cell titleDummy"></div>
        <% for(var i=0*60/15; i<24*60/15; i++){ %>
        <div
        class="cell fancybox <%= i %> <% if (timeBlocksInRange(schedule[shift])(i)) { if (schedule[shift].trading) { %> trading <% } else if (isMine(req, schedule[shift])) { %>currentOwner<% } else if(!isMine(req, schedule[shift])) { %> otherOwner <% }} %>"
        href=<%= properRef(schedule[shift], i) %>>
          <% if( timeBlocksInRange(schedule[shift])(i) ) { if(i % 4==0) { %>
          <!--<%= Math.floor(i*15/60) % 12 == 0 ? 12 : Math.floor(i*15/60) % 12 %>--><% } else { %><!--:<%= (i*15%60) %>--><% } %>
          <% } %>
        </div>
        <% } %>
      </div>
      <% } %>
      <% } %>
    </div>
  </div>
</div>
