<div class='centered-text ctitle' style='padding-bottom:10px;'>Create Shift</div>

<form class='ui createShift form' onsubmit="return false;">
    <div class="ui error message"></div>
    <% var selectPosition = "Position";
    var selectEmployee = "Assign to";
    var submit = "Create";
    var toggleOff = "Once";
    var toggleOn = "Recurring" %>

    <%= include ../../util/formModules/selectPosition.ejs %>

    <%= include ../../util/formModules/selectEmployee %>

    <%= include ../../util/formModules/setTime.ejs %>

    <%= include ../../util/formModules/toggle.ejs %>

    <div class='recurring hidden'>
        <div class='fields' style='padding-bottom:10px;'>
            <label class='five wide field right-justified vcentered'></label>
            <div class='eleven wide field createInputs'>
                <div class='inverted black ui mini button lastButton'>Last Entry</div>
            </div>
        </div>

        <%= include ../../util/formModules/setDate.ejs %>
        
    </div>
    <%= include ../../util/formModules/cancelSubmit.ejs %>
</form>