<div class='fields createFields'>
    <label class='five wide field right-justified vcentered'>Start Date:</label>
    <div class='eleven wide field createInputs'>
        <div class='inline fields createFields'>
            <div class='field'>
                <div class='ui selection dropdown'>
                    <input type='hidden' name='start-month'>
                    <div class='default text'>MM</div>
                    <i class='dropdown icon'></i>
                    <div class='menu' style='overflow:auto;max-height:100px;'>
                        <% for (var i = 1; i < 13; i++) { %>
                        <div class='item'><%= include ../twoDigit.ejs %></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class='field'>
                <div class='ui selection dropdown'>
                    <input type='hidden' name='start-day'>
                    <div class='default text'>DD</div>
                    <i class='dropdown icon'></i>
                    <div class='menu' style='overflow:auto;max-height:100px;'>
                        <% for (var i = 1; i < 32; i++) { %>
                        <div class='item'><%= include ../twoDigit.ejs %></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class='field'>
                <div class='ui selection dropdown'>
                    <input type='hidden' name='start-year'>
                    <div class='default text'>YYYY</div>
                    <i class='dropdown icon'></i>
                    <div class='menu' style='overflow:auto;max-height:100px;'>
                        <% for (var i = 2014; i < 2030; i++) { %>
                        <div class='item'><%= include ../twoDigit.ejs %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class='fields createFields'>
    <label class='five wide field right-justified vcentered'>End Date:</label>
    <div class='eleven wide field createInputs'>
        <div class='inline fields createFields'>
            <div class='field'>
                <div class='ui selection dropdown'>
                    <input type='hidden' name='end-month'>
                    <div class='default text'>MM</div>
                    <i class='dropdown icon'></i>
                    <div class='menu' style='overflow:auto;max-height:100px;'>
                        <% for (var i = 1; i < 13; i++) { %>
                        <div class='item'><%= include ../twoDigit.ejs %></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class='field'>
                <div class='ui selection dropdown'>
                    <input type='hidden' name='end-day'>
                    <div class='default text'>DD</div>
                    <i class='dropdown icon'></i>
                    <div class='menu' style='overflow:auto;max-height:100px;'>
                        <% for (var i = 1; i < 32; i++) { %>
                        <div class='item'><%= include ../twoDigit.ejs %></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class='field'>
                <div class='ui selection dropdown'>
                    <input type='hidden' name='end-year'>
                    <div class='default text'>YYYY</div>
                    <i class='dropdown icon'></i>
                    <div class='menu' style='overflow:auto;max-height:100px;'>
                        <% for (var i = 2014; i < 2030; i++) { %>
                        <div class='item'><%= include ../twoDigit.ejs %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>